<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <!-- Bootstrap CSS from CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Monument Detection</h1>
                <h2>Upload Image</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} <!-- This is the Django CSRF token -->

                    <div class="form-group">
                        <label for="image" class="font-weight-bold">Select Image:</label>
                        <input type="file" class="form-control-file" id="image" name="image" required>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js from CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
